* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;} 
*:before,*:after {
    box-sizing: border-box;}
*:input, textarea {
    -webkit-touch-callout: none;}
img {
    -webkit-touch-callout: none;}
:focus {
    outline: none;}  
::-moz-focus-inner {
    border: 0;}  
html, body, .body, document, function, a:hover {
    cursor: url('/images/default.png'), 
            url('/images/default.cur'), auto!important;}

a, a:focus, a:link, a:visited, a:active, a:hover {
    cursor: url('/images/pointer.png'), 
            url('/images/pointer.cur'), pointer!important;} 
html {   
    font-family: var(--body-font);
    -ms-content-zooming: none;}   
body {
    word-wrap: break-word;
    text-align: justify; 
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: antialiased;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;}
a:link, a:active, a:visited  {
    color: var(--h2-color); 
    text-decoration: none;
    -webkit-transition: 0.2s ease-in; 
    -moz-transition: 0.2s ease-in; 
    transition: 0.2s ease-in;}
a:hover {
    text-decoration: none !important;
    border-bottom: none !important;
    background: linear-gradient(to bottom, rgba(101, 223, 201, .97) 0%, rgba(66, 102, 150, 1) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-transition: 0.2s ease-out; 
    -moz-transition: 0.2s ease-out; 
    transition: 0.2s ease-out;}
h1 {
    color: var(--h1-color);
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;}
h2 {
    color: var(--h2-color);
    font-weight: 500;
    font-size: 1.8rem;
    opacity: 0.8;}
h3 {
    color: var(--h3-color);
    font-weight: 600;
    font-size: 1.4rem;
    opacity: 0.8;}  
i.cp {
    font-weight: 600;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, rgba(101, 223, 201, .97) 0%, rgba(66, 102, 150, .7) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;}
main#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, rgba(101, 223, 201, .97) 0%, rgba(66, 102, 150, .1) 100%);}
#glass {
    z-index: 3;
    min-height: 80vh;
    width: 60%; 
    display: flex;
    border-radius: 2rem;
    backdrop-filter: blur(0.3rem);
    box-shadow: 0px 0px 5px rgba(49, 49, 49, 0.247);
    background: 
    linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3));}

/* -- LEFT -- */
#dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem; 
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));}
.user p {
    color: var(--h3-color);
    font-size: 14px;
    width: 80%;
    margin: 0.3rem auto;
    padding: 0 3rem;}
.usericon img {
    z-index: 9;
    padding: 4px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background: rgba(250,209,85,0.9);}
.link {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.6rem 0rem;
    padding: 0.3rem 3rem;}
.link h2 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 2rem;}
.links a {
    text-decoration: none !important;
    border-bottom: none !important;
    background: linear-gradient(to bottom, rgba(101, 223, 201, .97) 0%, rgba(66, 102, 150, 1) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;}

/* -- RIGHT -- */
#profile {
    flex: 2;
    margin: 0.3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 
        0 1px 2px rgba(122, 122, 122, 0.01), 
        0 2px 4px rgba(122, 122, 122, 0.02), 
        0 4px 8px rgba(122, 122, 122, 0.03), 
        0 8px 16px rgba(122, 122, 122, 0.04),
        0 16px 32px rgba(122, 122, 122, 0.05),
        0 32px 64px rgba(122, 122, 122, 0.05);
    background: 
    linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.5));}
.card h2 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 2rem;
    background: linear-gradient(to bottom, rgba(101, 223, 201, .97) 0%, rgba(66, 102, 150, 1) 100%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;}
.card p {
    color: var(--h3-color);
    font-size: 14px;
    width: 100%;
    margin: 0.3rem auto;
    padding: 0 3rem;}
.404 {
    width: 400px;
    margin: 2rem auto;
    padding: 4rem 3rem;
    border-radius: 0.5rem;
    position: relative;}
.400 img {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;}

/* -- BLOBS -- */
#topblob {
    z-index: 1;
    right: 9%;
    top: 5%;
    width: 20rem; 
    height: 20rem;
    position: absolute;}
#bottomblob {
    z-index: 1;
    left: 12%;
    bottom: 5%;
    width: 20rem; 
    height: 20rem;
    position: absolute;}

