/* Boogi Woogie Wu Css */

:root {
    --theme-color:  rgb(33, 51, 57);
    --themefont-color: rgba(223,64,94, .87);
    --default-color: #f6d59c;
    --grey-color: #e2e8f0;
    --dropshadow-color: #122040;
    --intro-color: #f6d59c;
    --mainlink-color: #f6d59c;
    --mainlinkhover-color: rgba(223,64,94, .87); /* df405e */
    --h1-color: #df405e;
    --h2-color: rgba(223,64,94, .87);
    --h3-color: #f6d59c;
    --header-color: #df405e;
    --header-color2: rgb(68, 255, 68);
    --tag-color: #f6d59c;
    --skills_list-color: #f6d59c;
    --borderbottom-color: rgb(68, 255, 68);
    --footer-color: #f6d59c;
    --backtotopshadow-color: rgba(255, 255, 255, .2);
    --backtotopbg-color: rgba(255, 255, 255, .07);
    --card-color: rgba(223, 64, 94, 0.77);
    --neon0-color: rgba(128,224,214, 0.05);
    --neon1-color: rgba(128,224,214,.25);
    --neon2-color: rgba(223,64,94, .50);
    --neon3-color: rgba(246, 213, 156, .75);
    --neon4-color: rgba(246, 213, 156, .97);
    --body-font: 'Aptos', sans-serif;
    --h1-font: 'Aptos', sans-serif;
    --h2-font: 'Aptos', sans-serif;
    --h3-font: 'Aptos', sans-serif;
    --welcome-font: 'Beth Ellen', cursive !important;
    --intro-font: 'Aptos', sans-serif !important;
    --navlinks-font: 'Aptos', sans-serif;}

* {
    margin:0;
    padding:0;}
*:before,*:after {
    box-sizing: border-box;}
html{
    font-family:var(--body-font);
    scroll-behavior:smooth;}
body{ opacity: 1;
    transition: opacity 0.3s ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    -webkit-text-size-adjust:100%;}
html, body, .body, document, function, textarea {
    cursor: default;} 
a, a:link, a:active, a:visited, 
h3 a:link, h3 a:active, h3 a:visited, 
.back-to-top, .back-to-top:hover {
    cursor: pointer;}
html,body{
    background-color: var(--theme-color);
    color: var(--themefont-color);}
body, html, table, textarea { 
    font-weight:400;
    word-wrap: break-word;
    text-align: justify; 
    line-height: 1.8em;   
    font-size: 12px;}
.antialiased{
    -webkit-font-smoothing:antialiased;
    user-select: none;}
*:input, textarea {
    -webkit-touch-callout: none;}
img {
    -webkit-touch-callout: none;}
:focus {
    outline: none;}  
::-moz-focus-inner {
    border: 0;}  
a:link, a:active, a:visited, h3 a:hover {
    color: var(--mainlink-color);
    text-decoration: none;
    -webkit-transition: 0.2s ease-in; 
    -moz-transition: 0.2s ease-in; 
    transition: 0.2s ease-in;}
h3 a:link, h3 a:active, h3 a:visited, a:hover {
    color: var(--mainlinkhover-color);
    -webkit-transition: 0.2s ease-out; 
    -moz-transition: 0.2s ease-out; 
    transition: 0.2s ease-out;}
a:focus, a:active, a:hover, a img { 
    border:0;
    outline: 0!important; 
    outline: none !important;
    outline-offset: -2px;}
h1 {
    font-family: var(--h1-font);
    color: var(--h1-color);
    line-height: 4rem;
    font-weight: 600;
    font-size: 2.6rem;}
h2 {
    font-family: var(--h2-font);
    color: var(--h2-color);
    line-height: 4rem;
    font-weight: 500;
    font-size: 2.2rem;}
h3 {
    font-family: var(--h3-font);
    color: var(--h3-color);
    line-height: 4rem;
    font-weight: 600;
    font-size: 2rem;}  
sup, sub {
    font-size: 75%;}
b, big, bold, strong  {
    font-weight: bold;
    font-weight: 900;}
i, em, italic {
    font-style: italic;} 
/* --------------------------------------------- Navigation 1 */  
nav[id="navbar"] {
    top: 0 !important;
    z-index: 2147483647;
    margin: 0;
    padding: 0px;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: var(--theme-color);
    color: var(--themefont-color);
    position: fixed;
    transition: 0.2s;}   
.floatingNav {
    width: calc(100vh - 100px); 
    border-radius: 2px;
    box-shadow: 0px 3px 10px var(--dropshadow-color);}
.rightlinks {
    order: 2; 
    width: 550px;
    right: 0!important;
    margin-top: 25px;
    display: inline-block;}
.rightlinks a {
    font-size:20px;
    position: relative;
    font-weight: 400;
    font-weight: normal;
    font-family: var(--navlinks-font);
    text-transform:uppercase!important;
    color: var(--mainlink-color) !important;
    margin: 15px 35px 0 0!important;}
.rightlinks a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    background: var(--header-color2) !important;
    transition: width 0.4s ease;}
.rightlinks a:hover::after {
    width: 100%;}
.rightlinks a:hover {
    font-weight: 900 !important;
    color: var(--mainlinkhover-color) !important;}
.rightlinks a.active {
    font-weight: 900 !important;
    color: var(--mainlinkhover-color) !important;}
.rightlinks a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background: var(--header-color2) !important;}
/* --------------------------------------------- Header */
header[id="welcome"] {
    padding:120px 100px;
    height:100vh;
    max-width:1440px;
    margin:0 auto;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:distribute;
    justify-content:space-around;}
header[id="welcome"] > .intro {  
    height: 8vh;
    font-size: 2.6em; 
    word-spacing: 4px;
    line-height: 1.5;
    font-weight:300;
    color: var(--intro-color) !important;
    font-family: var(--intro-font) !important;}
header[id="welcome"] > .hellome { 
    height: 25vh;
    font-size:2em;  
    line-height: 1.5;
    font-weight: 500;
    color: var(--intro-color) !important;
    font-family: var(--intro-font) !important;}
.pagetitle{
    width:100%;
    clear:both;
    margin: 10px auto;
    display:block;
    font-size:72px;
    line-height:80px;
    text-align:left;
    font-weight:400;
    font-style:normal;
    font-family: var(--welcome-font)!important;}
.pagetitle,.pagetitle a{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    filter:dropshadow(color=rgba(250, 209, 85, .3), offx=2, offy=2);
    border:none!important;}
.pagetitle,.pagetitle a,.pagetitle.fancies{
    animation-name:titleshadow;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    color: var(--theme-color);}
@supports (-webkit-text-stroke: 1px var(--theme-color)){
    .pagetitle,.pagetitle a{
        -moz-text-fill-color:var(--theme-color);
        -webkit-text-fill-color:var(--theme-color);
        -webkit-text-stroke-color: var(--theme-color);
        -moz-text-stroke-color: var(--theme-color);
        -webkit-text-stroke-width:1px;
        -moz-text-stroke-width:1px;}
}
@keyframes titleshadow{
    0% {text-shadow:-3px 3px 0 var(--neon0-color),-1px -1px 0 var(--neon0-color),
                    1px -1px 0 var(--neon0-color),-1px 1px 0 var(--neon0-color), 
                    1px 1px 0 var(--neon0-color);
    }
    25% {text-shadow:-3px 3px 0 var(--neon1-color),-1px -1px 0 var(--neon1-color),
                1px -1px 0 var(--neon1-color),-1px 1px 0 var(--neon1-color), 
                1px 1px 0 var(--neon1-color);
        
    }
    50% {text-shadow:-3px 3px 0 var(--neon2-color),-1px -1px 0 var(--neon2-color),
                1px -1px 0 var(--neon2-color),-1px 1px 0 var(--neon2-color), 
                1px 1px 0 var(--neon2-color);
        
    }
    75% {text-shadow:-3px 3px 0 var(--neon3-color),-1px -1px 0 var(--neon3-color),
                1px -1px 0 var(--neon3-color),-1px 1px 0 var(--neon3-color), 
                1px 1px 0 var(--neon3-color);
        
    }
    100% {text-shadow:-3px 3px 0 var(--neon4-color),-1px -1px 0 var(--neon4-color),
                1px -1px 0 var(--neon4-color),-1px 1px 0 var(--neon4-color),
                1px 1px 0 var(--neon4-color);}
}
.bouncy{
    -moz-osx-font-smoothing:grayscale;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    box-shadow:0 0 1px transparent;
    backface-visibility:hidden;
    display:inline-block;
    vertical-align:middle;}
.bouncy:active,.bouncy:focus,.bouncy:hover{
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count:1;
    -webkit-animation-name:bouncy;
    -webkit-animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:1;
    animation-name:bouncy;
    animation-duration:1s;}
@keyframes bouncy{
    16.65%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px);
    }
    33.3%{
        -webkit-transform:translateY(-6px);
        transform:translateY(-6px);
    }
    49.95%{
        -webkit-transform:translateY(4px);
        transform:translateY(4px);
    }
    66.6%{
        -webkit-transform:translateY(-2px);
        transform:translateY(-2px);
    }
    83.25%{
        -webkit-transform:translateY(1px);
        transform:translateY(1px);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}
/* --------------------------------------------- Hierarchical Containers */
#container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;}
#inner-container,
#subinner-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;}
/* --------------------------------------------- Units */   
.unit1of3,
.unit2of3{
    padding: 150px 0;
    margin-bottom: 220px;} 
.unit3of3 {
    padding: 150px 0;}
/* --------------------------------------------- Units Header */   
header[id="skills_header"],
header[id="projects_title"],
header[id="video_title"] {
    color: var(--header-color2);
    font-family: var(--h1-font);}
header[id="skills_header"],
header[id="projects_title"],
header[id="video_title"] {text-shadow: -3px -1px 1px #000;}
/* --------------------------------------------- Skills unit1of5 */   
header[id="skills_header"] {
    text-align: left;
    font-size: 2.2rem;
    margin: 0px 10px 0 0!important;
    font-weight: 400 !important;}
.skills_list {
    scroll-margin-top: 180px;
    display: grid;
    grid-template-columns: auto 320px 320px 320px;  
    grid-gap: 1px;}
.skills_list article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
.skills_title {
    z-index: 1!important;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px!important;
    font-size: 1.6em;
    max-width: 100% !important;
    color: var(--h2-color);
    background-color: var(--theme-color) !important;}
.skills_title:after {    
 z-index: -1;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--borderbottom-color);
    position: absolute;
    bottom: -5px; 
    left: 0;}
.skills_list ul {
    color: var(--skills_list-color);
    text-align:right!important;
    list-style: none;
    padding: 0;}
.skills_list li {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 8px;}
/* --------------------------------------------- Projects unit2of5 */   
header[id="projects_title"] {
    text-align: left;
    font-size: 2.2rem;
    margin: 235px 0 100px 0!important;
    font-weight: 400 !important;}
.project_grid {
    display: grid;
    grid-template-columns: auto 320px 320px 320px;  
    grid-gap: 1px;}
.project_grid article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
.gridtrex {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    margin:0 auto;}
.grid-item {
    width: 293px;
    padding: 8px;
    border-radius: 7px;
    margin: 7px 5px !important;
    color: var(--default-color);
    border:1px solid var(--theme-color);
    background: var( --card-color);
    -webkit-transition-duration:.7s;
    -moz-transition-duration:.7s;
    -o-transition-duration:.7s;
    transition-duration:.7s;}
.grid-item:hover {
    border:1px solid var(--theme-color);
    background: var(--theme-color);
    -webkit-transition-duration:.7s;
    -moz-transition-duration:.7s;
    -o-transition-duration:.7s; 
    transition-duration:.7s;}
.grid-item a{
    border-bottom:0;}
.grid-item:hover a{
    border-bottom:0;
    color:var(--theme-color);}
.gittybox {
    height: auto;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    border: 1px solid var(--default-color);}
.gittybox:hover {
    border: 1px solid var(--default-color);
    background-color: var(--card-color);
    -webkit-transition-duration:.7s;
    -moz-transition-duration:.7s;
    -o-transition-duration:.7s; 
    transition-duration:.7s}
.grittybox a:hover {
    color:var(--theme-color);}
.gittyheader {
    display: flex;
    justify-content: space-between;
    align-items: center;}
.gittyheader i {
    font-size: 1.8em;}
.gittytitle {
    font-weight: 700;
    font-size: 1.8em;
    margin-top: 20px;}
.gittydescription {
    color:var(--grey-color);
    text-align: left;
    font-size: 1.2em;
    margin-top: 20px;}
.gittytags {
    margin-top: 15px;}
.gittytags span {
    font-size: 0.8em;
    background-color: var(--theme-color);
    color: var(--tag-color);
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 5px;}
/* --------------------------------------------- Videos unit3of5 */   
header[id="video_title"] {
    text-align: left;
    font-size: 2.2rem;
    margin: 268px 0 100px 0!important;
    font-weight: 400 !important;}
.video_grid::before {
    display: none;}
.vidtrex {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    margin:0 auto;}
.video_grid {
    display: grid;
    grid-template-columns: auto 320px 320px 320px;  
    grid-gap: 1px;}
.video_grid article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
.vid-item {
    width: 485px;
    height: 265px;
    border-radius: 7px;
    margin: 5px 0px 20px 5px !important;
    -webkit-transition-duration:.7s;
    -moz-transition-duration:.7s;
    -o-transition-duration:.7s;
    transition-duration:.7s;}
.video_container {
    display: flex;
    justify-content: space-between;}
.videoBox iframe {
    height: 263px !important;
    width: 465px !important;
    box-shadow: 0px 8px 16px 0px var(--dropshadow-color);
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;}
/* --------------------------------------------- Footer */   
#footer { 
    clear: both; 
    width: 100%;
    display: block; 
    font-size: .9em;
    padding: 6% 0; 
    margin-bottom:0px;
    margin-top: 10px !important;
    text-align: center !important; 
    color: var(--footer-color);}
#footer ul {
    margin: 0 auto;
    text-align:center;}
#footer li {
    display: inline;}
#footer li:nth-child(even) {
    padding: 0 .5em;
    margin:  0 .25em;
    /*border-right: 0px solid var(--grey-color);*/
    border-left:  1px solid var(--grey-color);}
/* --------------------------------------------- Back to Top */   
.back-to-top:after{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f077";
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;}
.back-to-top {
    position: fixed;
    width: 15px;
    height: 15px;
    bottom: 110px;
    right: 50px;
    padding: 12px;
    text-align:center;
    display: none;
    font-size:14px;
    line-height:14px;
    overflow: hidden;
    color:var(--grey-color);
    text-shadow: 2px 2px 2px var(--neon2-color);
    -webkit-transition: 0.2s ease-in; 
    -moz-transition: 0.2s ease-in; 
    transition: 0.2s ease-in; 
    border-radius: 50%;
    box-shadow: 0 0 1rem 0 var(--backtotopshadow-color); 
    background-color: var(--backtotopbg-color);
    backdrop-filter: blur(2px);}
.back-to-top:hover {
    color: var(--theme-color);
    text-shadow: 2px 2px 2px var(--neon2-color);
    -webkit-transition: 0.2s ease-out; 
    -moz-transition: 0.2s ease-out; 
    transition: 0.2s ease-out;
    background-color: var(--default-color)!important;}
/* --------------------------------------------- Media Q */   
@media screen and (max-width:1024px) {
    .intro, .hellome{
        font-size:2.25em;
    }
}
@media screen and (max-width: 630px) {
    header[id="welcome"] {
        padding: 120px 70px;
    }
    .intro, .hellome{
        font-size:2em;
    }
}
@media screen and (max-width: 550px) {
    header[id="welcome"]{
        padding: 120px 50px;
    }
    .intro, .hellome{
        font-size:1.75em;
    }
}
@media screen and (max-width: 480px) {
    header[id="welcome"] {
        padding: 70px 50px;
    }
    .intro, .hellome{
        font-size:1.5em;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 200px)  {
    body, html, table, textarea {
        font-size: 14px;}
    /* --------------------------------------------- Navigation */
    nav[id="navbar"] {
        font-size: 1.1rem;  
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: auto;
        padding-bottom: 28px;}
    /* .rightlinks a:nth-child(3n) {display: none;} */
    .rightlinks {
        width: 80%;
        font-size: 75%;
        margin: 20px auto 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;}
    .rightlinks a {
        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: center;}
    /* --------------------------------------------- Header */
    header[id="welcome"] {
        margin-top: 85px;
        margin-bottom: 65px;}
    header[id="welcome"] > .pagetitle {
        margin-top: 100px;
        text-align: center;  
        font-family: inherit;}
    header[id="welcome"] > .intro {
        margin-top: 60px;
        font-size: 1.8rem; 
        word-spacing: 4px;
        text-align: center;  
        font-family: inherit;}
    header[id="welcome"] > .hellome {
        margin-top: 170px;
        font-size: 1.4rem; 
        text-align: center;  
        font-family: inherit;
        margin-top: 220px;
        margin-bottom: 177px;}
    .emoji {display: none;}
    /* --------------------------------------------- For Skills Unit */
    .unit1of3 {
        padding: 50px 0;
        margin-top: 100px;
        margin-bottom: 25px;
        box-shadow: inset 0px 4px 4px -2px var(--dropshadow-color);}
    header[id="skills_header"] {
        display: none!important;}
    .skills_list {
        margin: 0 auto 80px auto;
        grid-template-columns: 1fr;
        display: flex; 
        flex-direction: column;}
    .skills_list::before {
        content: "\1FA9B";
        grid-column: 1 / 4;  
        font-weight: 700;
        font-size: 1.9rem;
        color: var(--default-color);
        text-align: center;
        margin: -90px auto 30px auto;}
    .skills_list article {
        display: flex;  
        flex-direction: column; 
        justify-content: flex-start;}
    .skills_title {
        display: block;
        position: inherit;
        margin: 30px auto;
        text-align: center;}
    .skills_title::after {
        display: none;}
    .skills_list li {
        text-align: center;}
    /* --------------------------------------------- For Projects Unit */
    .unit2of3 {
        padding: 50px 0;
        margin-bottom: 45px;
        box-shadow: inset 0px 4px 4px -2px var(--dropshadow-color);}
    header[id="projects_title"] {
        display: none!important;}
    .project_grid {
        margin: 0 auto 80px auto;
        grid-template-columns: 1fr ;
        display: flex; 
        flex-direction: column;}
    .project_grid::before {
        content: "\1F4C1";
        grid-column: 1 / 4;  
        font-weight: 700;
        font-size: 1.9rem;
        color: var(--default-color);
        text-align: center;
        margin: -90px auto 30px auto;}
    /* --------------------------------------------- For Videos Unit */
    .unit3of3 {
        padding: 50px 0 20px 10px;
        margin-bottom: 5px;
        box-shadow: inset 0px 4px 4px -2px var(--dropshadow-color);}
    header[id="video_title"] {
        display: none!important;}
    .video_grid::before {
        content: "\1F4F7";
        grid-column: 1 / 4;  
        font-weight: 700;
        font-size: 1.9rem;
        color: var(--default-color);
        text-align: center;
        margin: -90px auto 30px auto;
        background-color: transparent !important;
        display: block !important;}
    .video_grid {
        display: grid;
        grid-template-columns: subgrid;
        grid-gap: 1px;}
    .video_grid article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;}
    .vid-item {
        height: auto !important;
        width: auto !important;
        border-radius: 7px;
        margin: 5px 0px 12px 5px !important;}
    .video_container {
        display: flex;
        justify-content: space-between;}
    .videoBox iframe {
        padding: 20px !important;
        height: auto !important;
        width: auto !important;}
    /* --------------------------------------------- Footer */
    #footer {
        width: 70%;
        margin: 50px auto 100px auto;}
    #footer li:nth-child(2n),
    #footer li:nth-child(3n) {
        display: none;}
}    
